# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\X512\Desktop\UFV\3º Curso\Desarrollo e integracion de software\Tarea\Tareas clase\calculadora_clase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
